// define colors
$color-primary: #b6262c;
$color-secondary: #f4f4f4;
$color-tertiary: #333;
$color-quaternary: #fff;
$hover-shadow: 0 0 1px 7px $color-tertiary;


* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Jura, sans-serif;
  font-size: 1rem;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex: 1 0 auto;
  width: 92%;
  margin: 0 auto;
  margin-top: 5em;

  @media only screen and (min-width: 1024px) {
    width: 1024px;
  }
}

a {
  color: $color-primary;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;

  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-secondary;
}

::-moz-selection {
  background-color: $color-primary;
  color: $color-secondary
}
